[user]
	email = jakewendt@gmail.com
	name = Jake
#	git config --global alias.stauts status
[alias]
	stauts = status
	staut = status
	statu = status
	stat = status
	sta = status
	st = status
	s = status
	cm = commit -m
	co = commit
	up = pull
	d = diff
	di = diff
	dif = diff
	pus = push
	pul = pull
#	git config --global github.user jakewendt
[github]
	user = jakewendt
[push]
	default = matching
[credential]
	helper = cache
